---
/**
 * src/pages/classes.astro
 * Classes Page
 *
 * Author: Edward Silva
 * Creation Date: 30 March, 2026
 * Last Update: 14 April, 2026
 *
 * Hosts the coursework component under the shared site layout.
 *
 * File Structure:
 * - Imports
 * - Layout and coursework composition
 *
 * Where this file is used within the repository:
 * - Public route /classes
 *
 * Licence/Copyright: Licensed under MIT License
 */

import Coursework from '../components/Coursework.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Classes | Edward Silva" description="Relevant classes and course details.">
  <Header />
  <main>
    <Coursework />
  </main>
  <Footer />
</Layout>
