---
/**
 * src/pages/coursework.astro
 * Coursework Redirect Page
 *
 * Author: Edward Silva
 * Creation Date: 30 March, 2026
 * Last Update: 14 April, 2026
 *
 * Redirects legacy /coursework route to canonical /classes route.
 *
 * File Structure:
 * - Redirect constants
 * - HTML fallback redirect markup
 *
 * Where this file is used within the repository:
 * - Legacy route /coursework
 *
 * Licence/Copyright: Licensed under MIT License
 */

const destination = '/classes';
const refreshContent = `0;url=${destination}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={refreshContent} />
    <script is:inline>
      window.location.replace('/classes');
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href={destination}>Classes</a>...</p>
  </body>
</html>
